.canvasImage {
    image-rendering: pixelated;

    position: relative;
    background-color: #fff;
    width: 80vw;
    max-width: 260px;
    aspect-ratio : 1 / 1;    
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
